[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
ipython = "*"
django-debug-toolbar = "*"
python-dotenv = "*"
django-jalali-date = "*"
pillow = "*"
django-filter = "*"
django-imagekit = "*"
requests = "*"
django-rest-framework = "*"
django-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
