<div class="action-box custom {{class}}">
    <input readonly="readonly" id="selectedDate">
    <div class="footer">
        <div class="info">{{selected_date.free}}/{{selected_date.total}} آزاد</div>
        <div class="buttons">
            <button class="cbutton mini-button blue-hover" title="بستن این روز"><i class="fa fa-lock"></i></button>
            <button class="cbutton mini-button blue-hover" title="بستن این روز"><i class="fa fa-lock"></i></button>
            <button class="cbutton mini-button blue-hover " title="بستن این روز"><i class="fa fa-lock"></i></button>
        </div>
    </div>
    <div id="datepicker" data-date="{{selected_date.date}}"></div>
</div>