<div class="action-box {{class}}">
    <h3>{{title}} <small>({{sub_title}})</small></h3>
    <div class="footer">
        <div class="info">{{free}}/{{total}} آزاد</div>
        <div class="buttons">
            <button class="mini-button blue-hover" title="بستن این روز"><i class="fa fa-lock"></i></button>
            <button class="mini-button blue-hover" title="بستن این روز"><i class="fa fa-lock"></i></button>
            <button class="mini-button blue-hover " title="بستن این روز"><i class="fa fa-lock"></i></button>
        </div>
    </div>
</div>